@font-face {
  font-family: 'Gilroy';
  src: url('https://static.vscdn.net/fonts/Gilroy-ExtraBoldItalic.eot');
  src: url('https://static.vscdn.net/fonts/Gilroy-ExtraBoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('https://static.vscdn.net/fonts/Gilroy-ExtraBoldItalic.woff2')
      format('woff2'),
    url('https://static.vscdn.net/fonts/Gilroy-ExtraBoldItalic.woff')
      format('woff'),
    url('https://static.vscdn.net/fonts/Gilroy-ExtraBoldItalic.ttf')
      format('truetype'),
    url('https://static.vscdn.net/fonts/Gilroy-ExtraBoldItalic.svg#Gilroy-ExtraBoldItalic')
      format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('https://static.vscdn.net/fonts/Gilroy-Heavy.eot');
  src: url('https://static.vscdn.net/fonts/Gilroy-Heavy.eot?#iefix')
      format('embedded-opentype'),
    url('https://static.vscdn.net/fonts/Gilroy-Heavy.woff2') format('woff2'),
    url('https://static.vscdn.net/fonts/Gilroy-Heavy.woff') format('woff'),
    url('https://static.vscdn.net/fonts/Gilroy-Heavy.ttf') format('truetype'),
    url('https://static.vscdn.net/fonts/Gilroy-Heavy.svg#Gilroy-Heavy')
      format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('https://static.vscdn.net/fonts/Gilroy-BoldItalic.eot');
  src: url('https://static.vscdn.net/fonts/Gilroy-BoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('https://static.vscdn.net/fonts/Gilroy-BoldItalic.woff2')
      format('woff2'),
    url('https://static.vscdn.net/fonts/Gilroy-BoldItalic.woff') format('woff'),
    url('https://static.vscdn.net/fonts/Gilroy-BoldItalic.ttf')
      format('truetype'),
    url('https://static.vscdn.net/fonts/Gilroy-BoldItalic.svg#Gilroy-BoldItalic')
      format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('https://static.vscdn.net/fonts/Gilroy-Bold.eot');
  src: url('https://static.vscdn.net/fonts/Gilroy-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('https://static.vscdn.net/fonts/Gilroy-Bold.woff2') format('woff2'),
    url('https://static.vscdn.net/fonts/Gilroy-Bold.woff') format('woff'),
    url('https://static.vscdn.net/fonts/Gilroy-Bold.ttf') format('truetype'),
    url('https://static.vscdn.net/fonts/Gilroy-Bold.svg#Gilroy-Bold')
      format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('https://static.vscdn.net/fonts/Gilroy-ExtraBold.eot');
  src: url('https://static.vscdn.net/fonts/Gilroy-ExtraBold.eot?#iefix')
      format('embedded-opentype'),
    url('https://static.vscdn.net/fonts/Gilroy-ExtraBold.woff2') format('woff2'),
    url('https://static.vscdn.net/fonts/Gilroy-ExtraBold.woff') format('woff'),
    url('https://static.vscdn.net/fonts/Gilroy-ExtraBold.ttf')
      format('truetype'),
    url('https://static.vscdn.net/fonts/Gilroy-ExtraBold.svg#Gilroy-ExtraBold')
      format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('https://static.vscdn.net/fonts/Gilroy-Black.eot');
  src: url('https://static.vscdn.net/fonts/Gilroy-Black.eot?#iefix')
      format('embedded-opentype'),
    url('https://static.vscdn.net/fonts/Gilroy-Black.woff2') format('woff2'),
    url('https://static.vscdn.net/fonts/Gilroy-Black.woff') format('woff'),
    url('https://static.vscdn.net/fonts/Gilroy-Black.ttf') format('truetype'),
    url('https://static.vscdn.net/fonts/Gilroy-Black.svg#Gilroy-Black')
      format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('https://static.vscdn.net/fonts/Gilroy-BlackItalic.eot');
  src: url('https://static.vscdn.net/fonts/Gilroy-BlackItalic.eot?#iefix')
      format('embedded-opentype'),
    url('https://static.vscdn.net/fonts/Gilroy-BlackItalic.woff2')
      format('woff2'),
    url('https://static.vscdn.net/fonts/Gilroy-BlackItalic.woff') format('woff'),
    url('https://static.vscdn.net/fonts/Gilroy-BlackItalic.ttf')
      format('truetype'),
    url('https://static.vscdn.net/fonts/Gilroy-BlackItalic.svg#Gilroy-BlackItalic')
      format('svg');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('https://static.vscdn.net/fonts/Gilroy-UltraLight.eot');
  src: url('https://static.vscdn.net/fonts/Gilroy-UltraLight.eot?#iefix')
      format('embedded-opentype'),
    url('https://static.vscdn.net/fonts/Gilroy-UltraLight.woff2')
      format('woff2'),
    url('https://static.vscdn.net/fonts/Gilroy-UltraLight.woff') format('woff'),
    url('https://static.vscdn.net/fonts/Gilroy-UltraLight.ttf')
      format('truetype'),
    url('https://static.vscdn.net/fonts/Gilroy-UltraLight.svg#Gilroy-UltraLight')
      format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('https://static.vscdn.net/fonts/Gilroy-LightItalic.eot');
  src: url('https://static.vscdn.net/fonts/Gilroy-LightItalic.eot?#iefix')
      format('embedded-opentype'),
    url('https://static.vscdn.net/fonts/Gilroy-LightItalic.woff2')
      format('woff2'),
    url('https://static.vscdn.net/fonts/Gilroy-LightItalic.woff') format('woff'),
    url('https://static.vscdn.net/fonts/Gilroy-LightItalic.ttf')
      format('truetype'),
    url('https://static.vscdn.net/fonts/Gilroy-LightItalic.svg#Gilroy-LightItalic')
      format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('https://static.vscdn.net/fonts/Gilroy-SemiBold.eot');
  src: url('https://static.vscdn.net/fonts/Gilroy-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('https://static.vscdn.net/fonts/Gilroy-SemiBold.woff2') format('woff2'),
    url('https://static.vscdn.net/fonts/Gilroy-SemiBold.woff') format('woff'),
    url('https://static.vscdn.net/fonts/Gilroy-SemiBold.ttf') format('truetype'),
    url('https://static.vscdn.net/fonts/Gilroy-SemiBold.svg#Gilroy-SemiBold')
      format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('https://static.vscdn.net/fonts/Gilroy-MediumItalic.eot');
  src: url('https://static.vscdn.net/fonts/Gilroy-MediumItalic.eot?#iefix')
      format('embedded-opentype'),
    url('https://static.vscdn.net/fonts/Gilroy-MediumItalic.woff2')
      format('woff2'),
    url('https://static.vscdn.net/fonts/Gilroy-MediumItalic.woff')
      format('woff'),
    url('https://static.vscdn.net/fonts/Gilroy-MediumItalic.ttf')
      format('truetype'),
    url('https://static.vscdn.net/fonts/Gilroy-MediumItalic.svg#Gilroy-MediumItalic')
      format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('https://static.vscdn.net/fonts/Gilroy-Medium.eot');
  src: url('https://static.vscdn.net/fonts/Gilroy-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('https://static.vscdn.net/fonts/Gilroy-Medium.woff2') format('woff2'),
    url('https://static.vscdn.net/fonts/Gilroy-Medium.woff') format('woff'),
    url('https://static.vscdn.net/fonts/Gilroy-Medium.ttf') format('truetype'),
    url('https://static.vscdn.net/fonts/Gilroy-Medium.svg#Gilroy-Medium')
      format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('https://static.vscdn.net/fonts/Gilroy-HeavyItalic.eot');
  src: url('https://static.vscdn.net/fonts/Gilroy-HeavyItalic.eot?#iefix')
      format('embedded-opentype'),
    url('https://static.vscdn.net/fonts/Gilroy-HeavyItalic.woff2')
      format('woff2'),
    url('https://static.vscdn.net/fonts/Gilroy-HeavyItalic.woff') format('woff'),
    url('https://static.vscdn.net/fonts/Gilroy-HeavyItalic.ttf')
      format('truetype'),
    url('https://static.vscdn.net/fonts/Gilroy-HeavyItalic.svg#Gilroy-HeavyItalic')
      format('svg');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('https://static.vscdn.net/fonts/Gilroy-Regular.eot');
  src: url('https://static.vscdn.net/fonts/Gilroy-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('https://static.vscdn.net/fonts/Gilroy-Regular.woff2') format('woff2'),
    url('https://static.vscdn.net/fonts/Gilroy-Regular.woff') format('woff'),
    url('https://static.vscdn.net/fonts/Gilroy-Regular.ttf') format('truetype'),
    url('https://static.vscdn.net/fonts/Gilroy-Regular.svg#Gilroy-Regular')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('https://static.vscdn.net/fonts/Gilroy-RegularItalic.eot');
  src: url('https://static.vscdn.net/fonts/Gilroy-RegularItalic.eot?#iefix')
      format('embedded-opentype'),
    url('https://static.vscdn.net/fonts/Gilroy-RegularItalic.woff2')
      format('woff2'),
    url('https://static.vscdn.net/fonts/Gilroy-RegularItalic.woff')
      format('woff'),
    url('https://static.vscdn.net/fonts/Gilroy-RegularItalic.ttf')
      format('truetype'),
    url('https://static.vscdn.net/fonts/Gilroy-RegularItalic.svg#Gilroy-RegularItalic')
      format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('https://static.vscdn.net/fonts/Gilroy-Thin.eot');
  src: url('https://static.vscdn.net/fonts/Gilroy-Thin.eot?#iefix')
      format('embedded-opentype'),
    url('https://static.vscdn.net/fonts/Gilroy-Thin.woff2') format('woff2'),
    url('https://static.vscdn.net/fonts/Gilroy-Thin.woff') format('woff'),
    url('https://static.vscdn.net/fonts/Gilroy-Thin.ttf') format('truetype'),
    url('https://static.vscdn.net/fonts/Gilroy-Thin.svg#Gilroy-Thin')
      format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('https://static.vscdn.net/fonts/Gilroy-SemiBoldItalic.eot');
  src: url('https://static.vscdn.net/fonts/Gilroy-SemiBoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('https://static.vscdn.net/fonts/Gilroy-SemiBoldItalic.woff2')
      format('woff2'),
    url('https://static.vscdn.net/fonts/Gilroy-SemiBoldItalic.woff')
      format('woff'),
    url('https://static.vscdn.net/fonts/Gilroy-SemiBoldItalic.ttf')
      format('truetype'),
    url('https://static.vscdn.net/fonts/Gilroy-SemiBoldItalic.svg#Gilroy-SemiBoldItalic')
      format('svg');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('https://static.vscdn.net/fonts/Gilroy-Light.eot');
  src: url('https://static.vscdn.net/fonts/Gilroy-Light.eot?#iefix')
      format('embedded-opentype'),
    url('https://static.vscdn.net/fonts/Gilroy-Light.woff2') format('woff2'),
    url('https://static.vscdn.net/fonts/Gilroy-Light.woff') format('woff'),
    url('https://static.vscdn.net/fonts/Gilroy-Light.ttf') format('truetype'),
    url('https://static.vscdn.net/fonts/Gilroy-Light.svg#Gilroy-Light')
      format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('https://static.vscdn.net/fonts/Gilroy-ThinItalic.eot');
  src: url('https://static.vscdn.net/fonts/Gilroy-ThinItalic.eot?#iefix')
      format('embedded-opentype'),
    url('https://static.vscdn.net/fonts/Gilroy-ThinItalic.woff2')
      format('woff2'),
    url('https://static.vscdn.net/fonts/Gilroy-ThinItalic.woff') format('woff'),
    url('https://static.vscdn.net/fonts/Gilroy-ThinItalic.ttf')
      format('truetype'),
    url('https://static.vscdn.net/fonts/Gilroy-ThinItalic.svg#Gilroy-ThinItalic')
      format('svg');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('https://static.vscdn.net/fonts/Gilroy-UltraLightItalic.eot');
  src: url('https://static.vscdn.net/fonts/Gilroy-UltraLightItalic.eot?#iefix')
      format('embedded-opentype'),
    url('https://static.vscdn.net/fonts/Gilroy-UltraLightItalic.woff2')
      format('woff2'),
    url('https://static.vscdn.net/fonts/Gilroy-UltraLightItalic.woff')
      format('woff'),
    url('https://static.vscdn.net/fonts/Gilroy-UltraLightItalic.ttf')
      format('truetype'),
    url('https://static.vscdn.net/fonts/Gilroy-UltraLightItalic.svg#Gilroy-UltraLightItalic')
      format('svg');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

html,
body {
  color: var(--text-primary-color);
  font-family: 'Gilroy', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.octuple-subtitle {
  font-weight: 500 !important;
}

.footer {
  align-items: center;
  background: var(--background-color);
  border-top: 1px solid var(--border-color);
  bottom: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 8px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 100;
}

.footer img.footerLogo {
  display: inline;
  margin: 2px 0 -4px;
}

.footer a.footerLink {
  font-size: 14px;
  line-height: 20px;
}

.pcsLoggedOutNav {
  align-items: center;
  background: transparent;
  display: flex;
  flex: 1;
  gap: 8px;
  padding: 22px 24px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.staticLoader {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

* {
  box-sizing: border-box;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    background-color: transparent;
    height: 16px;
    width: 16px;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: 5px solid transparent;
    border-radius: 24px;
    box-shadow: 4px 0px 0px 4px rgba(105, 113, 127, 0.7) inset;
    height: 64px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }

  scrollbar-color: rgba(105, 113, 127, 0.7) transparent;
}

:root {
  --font-family: 'Gilroy';
  --font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  --font-stack-full: var(--font-family), var(--font-stack);
}
